

body {
  background-color: #1E1E20 ;
  background-image: url("bgimg.png");
  font-family: 'Open Sans';
  margin-right: 10px;
}
.log{
  color: #e4e4e4;
  text-decoration: none;
}
header {
  padding-right: 20px;
  font-style: normal;
  font-weight: normal;
  background-color: #854AC9;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20vw;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25) ;
}

.sidebar {
  position: relative;
  top: -80px;
  background-color: #171717;
  display: block;
  padding-top: 100px;
  margin-right: 0vw;
  margin-left: -3vw;
  text-align: center;
  list-style: none;
}

.sidebarlist {
  position: relative;
  top: -80px;
  font-family: Roboto;
  display: block;
  text-decoration: none;
  color: #FCFCFC;
  height: 100vh;
}

/* .sidebarlist:hover {
  display: block;
  text-decoration: none;
  color: white;
  background-color:grey;
} */

.sidebarlistactive {
  font-family: Roboto;
  display: block;
  text-decoration: none;
  color: #FCFCFC;
  padding: 10px;
}

nav li {
  font-family: Roboto;
  list-style: none;
  display: inline-block;
}

nav li a:hover {
  display: block;
  background-color: #7c46bb;
  text-decoration: none;
  color: whitesmoke;
  padding: 13px;
}

nav li a{
  display: block;
  text-decoration: none;
  color:  #191D28;
  padding: 13px;
}

/*section {
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 100px;
}*/

section {
  position: relative;
  top: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
}

aside {
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  position: fixed;
  width: 20vw;
  height: 100vh;
}
strong{
  color: #dddddd
}
hh{
  color: #854AC9;
}

i{
  color: #424850;
}

category{
  position: absolute;
  color: #dddddd;
  top: 20px;
  font-family: Roboto;
  font-size: 26px;
  margin-left: -200px;
  color: #854AC9;
  border-bottom: solid #854AC9 2px;
}

main {
  padding-top: 10px;
  padding-bottom: 60px;
  margin-left: 20vw;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  color: #e4e4e4;
  /* border-left: thick solid   #30373F; */
}

h1 {
  text-align: center;
  font-size: 27px;
}

article {
  border-bottom: 1px solid lightgrey;
}

h5 {
  text-align: left;
  position: relative;
  top: -15px;
  left: 10px
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

footer {
  font-family: Roboto;
  position: fixed;
  width: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #30373F;;
  color: whitesmoke;
  height: 30px;
  justify-content: center;
  align-items: center;
}

